:root{
    --main: #dff4f2;
}

body{
    padding: 0;
    margin: 0;
}

.text{
    margin-left: 163px;
}

.Customer{
    background-color: var(--main);
    padding: 50px;
}

.cards{
    display: flex;
    justify-content: center;
}

.card1{
    background-color: white;
    max-width: 20%;
    border-radius: 1%;
    border-radius: 4px;
    padding: 20px;
    padding-bottom: 1px;
    margin-right: 20px;
}

.top{
    display: flex;
    justify-content: space-between;
    max-height: 30px;
}

.Name h6{
    font-weight: bolder;
    font-family: Helvetica, sans-serif;
    line-height: 15px;
}

.Name h6 span{
        font-weight: 100;
        color: grey;
    }

.Name{

}

.card1 .left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1 .left img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 200%;
}

.card1 .right img{
    width: 20px;
    height: 20px;
}
.card1 .middle{
    color: grey;
    line-height: 30px; 
}

.card1 .bottom{
    display: flex; 
    justify-content: space-between;
    color: grey;
    line-height: 25px; 
}

.likes{
    display: flex;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: center;
}



.Pricing h2{
    display: flex;
    justify-content: center;
}
.Pricing p{
    display: flex;
    justify-content: center;
    color: grey;
    line-height: 1px; 
}

.Price_card{
    display: flex;
    justify-content: center;
}

.price{
    background-color: rgb(231, 238, 224);
    background-size: 300%;
    max-width: 20%;
    border-radius: 1%;
    border-radius: 4px;
    padding: 100px;
    padding-top: 1px;
    margin-right: 20px;
}
.Top1 .Text1{
    display: flex;
   justify-content: left;
   padding-right: 200px;
}

.Top1 h1{
    display: flex;
    justify-content: left;
}

.Middle1{
    display: flex;
    
    

}